<h1>Hola</h1>
<p>Bienvenido al cotizador de Pesos Argentinos:</p>
<p>Este proyecto implementa una Web Api RESTful que retorna las cotizaciones de monedas en base al Peso Argentino usando la api <a target='_blank' href='https://cambio.today/'>cambio.today</a></p>
<p>Puede probar la aplicaci&oacute;n web <a href='/quotation'>aqu&iacute;</a></p>
<h4>Tecnolog&iacute;as usadas</h4>

<ul>
  <li><strong>Backend: </strong>C#, ASP.NET MVC Core</li>
  <li><strong>Fronend: </strong>Angular</li>
</ul>
<br />

<h4>Ejempo de uso</h4>
<h5>Petici&oacute;n</h5>
<li><strong>Verbo http: </strong>GET</li>
<li>
  <strong>Url: </strong>https://[[hostname]]/Quotation/USD
</li>
<br />

<h5>Respuesta</h5>

<img alt='Ejemplo de llamada a la api' src='../assets/api-request-example.PNG' />

<ul>
  <li><strong>updated: </strong>Fecha de la &uacute;ltima actualizaci&oacute;n de la cotizaci&oacute;n </li>
  <li><strong>source: </strong>Moneda base de la cotizaci&oacute;n</li>
  <li><strong>target: </strong>Moneda a cotizar</li>
  <li><strong>value: </strong>Cotizaci&oacute;n de la moneda objetivo en base a la moneda base</li>
  <li><strong>target: </strong>Unidad de cotizaci&oacute;n</li>
  <li><strong>amount: </strong>Cotizaci&oacute;n</li>
</ul>

<br />

<h4>Agregar monedas a cotizar en la aplicaci&oacute;n web</h4>
<p>Para agregar monedas en la aplicaci&oacute;n web, dirigirse al archivo <strong>config.json </strong> ubicado en la carpeta <strong>src\assets</strong> de la aplicaci&oacute;n Angular</p>
<p>Para ello necesitara saber el c&oacute;digo de la moneda  <a target="_blank" href='https://es.wikipedia.org/wiki/ISO_4217#C%C3%B3digos_de_divisa_ISO_4217[nota_1]%E2%80%8B'>ISO 4217</a></p>

<img alt='Arhivo json de las monedas' src='../assets/currencies-file.PNG' />
